//Index-------------------------------------------------------------

.indexBG {
    //background: #1A1A1D;
}

.indexSection {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 150px 0px;
    
}

.titleText{
    background: #191919;
    width: 700px;
}
.underTitleText{
    font-size: 18px;
    background: #191919;
    width: 700px;
}


