@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Roboto_Slab);

* {
    font-family: Roboto_Slab;
  }

body {
    background-color: #252c49;
    color: #E4DCCE;
}

h1{
    font-weight: normal;
    line-height: 1.5em;
    font-family: Montserrat;
}

h3 {
    font-weight: normal;
    line-height: 0;
    font-family: Montserrat;
}

h5 {
    font-weight: normal;
    font-family: Montserrat;
}

// Hyperlink Style
a {
    color: #E4DCCE;
    text-decoration: none; 

}

a.Resume_Button {
    color: #9DEBE3;
}

a.port{
    color: #9DEBE3;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    color: grey;
    background-color: grey;
}

ul.a{
    list-style-type: square;
}

mark.colorBlue{
    color: #9DEBE3;
    background: none;
}





