@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #252c49;
    color: #E4DCCE;
    overflow-x: hidden;
    width: 100%;
}

h1{
    font-weight: normal;
    line-height: 1.5em;
}

h3 {
    font-weight: normal;
    line-height: 0;
}

h5 {
    font-weight: normal;
}

// Hyperlink Style
a {
    color: #E4DCCE;
    text-decoration: none; 

}

a.blueColor{
    color: #9DEBE3;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    color: grey;
    background-color: grey;
}

ul.a{
    list-style-type: square;
}

mark.blueColor{
    color: #9DEBE3;
    background: none;
}

mark.title{
    font-size: 30px;
    color: white;
    background: none;
}


//Index-------------------------------------------------------------

canvas {
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.index-BG {
    background: #191919;
}

.index-Section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.index-titleText {
    text-align: center;
}
.index-underTitleText{
    font-size: 18px;
    text-align: center;
}    

.index-Button {
    background: #191919;
    padding: 10px 24px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    border-radius: 4px;
    font-family: Montserrat;
    color: white;
}


//Header-----------------------------------------------------------

.sticky {
    position: fixed;
    top: 0px;
    width: 100%
}
  
.SiteHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;   
    z-index: 1;
    box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.1);
}

.InsideLinks > div {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    left: 40%;
    float:left;
}

.OutsideLinks > div {
    padding:0 10px;
    position: relative;
    right: 20px;
    top: 5px;
    float:left;
}

.Menu{
    display: none;
}


.Resume_Button {
    border-color: #D6F1F0;
    color: #9DEBE3;
    background-color: rgb(74, 78, 102);
    font-size: 16px;
    margin: -10px;
    padding: 5px 14px;
    border-radius: 5px;
}

//Dropdown----------------------------------------------------------

.navbar {
    display: none;
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #4A4E66;  
    border: 1px solid black;
    // border: 2px solid magenta;
}

.navbar-nav {
    display: none;
}
  
//About-------------------------------------------------------------

.aboutSection{
    max-width: 800px;
    min-height: 75vh;
    margin: 0px auto;
    padding: 150px 0px;

    .aboutTitle {
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px black;
    }

    .aboutContainer {
        display: flex; 
        position: relative;
        justify-content: space-between;
        
        .aboutText{
            padding-top: 50px;
            max-width: 500px;
            font-size: 18px;
        }
    
        .imageofMe{
            transform: translate(0%, 20%);
            width: 30%;
            min-width: 200px;
            max-width: 100%;
            height: auto;
        }
    }
    
    .aboutList{
        max-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        margin-left: -15px;
        margin-top: 20px;
    }
}


//Portfolio----------------------------------------------------------

.portfolioSection{
    max-width: 800px;
    min-height: 75vh;
    margin: 0px auto;
    padding: 150px 0px;
}

.portfolioTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px black;
}

.portfolioContainer {
    padding-top: 50px;
    position: absolute;
}

.tabsContainer {
    position: absolute;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 125px;
    // padding-right: 10px;
    margin: 0px;

    .aTab {
        display: inline-block;
        border-bottom: none;
        bottom: -1px;
        position: relative;
        list-style: none;
        padding: 6px 12px;
        border: 0.1px solid grey;
        margin: 0px;
        height: 60px;

        [class*="tabText"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.thePanel{
    position: relative;
    left: 20%;
    font-size: 18px;
    padding-left: 25px;
    width: 700px;
}


//Contact-------------------------------------------------------------

.contactSection {
    max-width: 800px;
    min-height: 75vh;
    margin: 0px auto;
    padding-top: 300px;
    padding-bottom: 300px;

    .contactTitle {
        max-width: 800px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-shadow: 2px 2px black;
    }
    
    .contactText {
        padding-top: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 500px;
        font-size: 18px;
        text-align: left;
    }
    
    .contactButton {
        border-color: #9DEBE3;
        color: #9DEBE3;
        background-color: #252c49;
        font-size: 20px;
        margin: -10px;
        padding: 15px 20px;
        border-radius: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 70px;
    } 
}


//Responsiveness-------------------------------------------------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    //General
    h1{
        font-size: 28px;
    }

    h3{
        font-size: 28px;
    }

    hr {
        display: block;
        height: 1px;
        padding: 0;
        color: grey;
        background-color: grey;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    //Index Section
    .index-Section {
        top: 40%;
        width: 90%;
        max-width: 300px;
    }

    .index-underTitleText {
        font-size: 14px;
    }    

    .index-Button {
        font-size: 0.6rem;
    }

    //Header Section
    .InsideLinks > div {
        display: none;
    }

    .OutsideLinks > div {
        position: relative;
        left: 0%;
    }

    .Menu {
        display: block;
        position: relative;
        right: 30%;
        transform: translate(10%, 10%);
        z-index: 2;

        .Menu-Button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            z-index: 2;
        }
    }
 
    .navbar {
        display: block;
        z-index: 1;
        transition: width 00ms ease;
        overflow-y: hidden;
    }

    .navbar-hidden {
        display: none;
    }

    .navbar-nav {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        font-size: 18px;
        overflow-y: hidden;
    }

    //About Section
    .aboutContainer {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        max-width: 300px;
        left: 50%;
        transform: translate(-50%);
        
        .aboutTitle {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .aboutText {
            position: relative;
            max-width: 200px;
            padding-top: 100px;
        }
    
        .imageofMe {
            position: relative;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }
    
    .aboutContainer-2{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
    //Portfolio Section

    .portfolioContainer {
        width: 100%;
        height: 100%;
        
    }

    .portfolioTitle {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .tabsContainer {
        display: flex;
        flex-direction: row;
        // padding-right: 20px;
        width: 100%;
        // height: 20%;
        overflow-x: scroll;
        border: 0.1px solid grey;
        overflow-y: hidden;
    }

    .aTab {
        display: flex;
        min-width: 150px;
        max-width: 200px;
        font-size: 12px;
        
        [class*="tabText"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .thePanel {
        max-width: 400px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 30%;
        left: 50%;
        transform: translate(-50%,0%);
        padding: 20px;
    }
    
    //Contact-------------------------------------------------------------

    .contactSection {
        padding-top: 800px; 
        padding-bottom: 100px;
    }

    .contactTitle {
        max-width: 500px;
    }

    .contactText {
        position: relative;
        left: 50%;
        transform: translate(-50%, 10%);
        max-width: 300px;
        padding: 20px;  
    }

    .contactButton {
        position: relative;
        left: 50%;
        transform: translate(-50%,-30%);
    }

}